:root {
  --primary-color: #003459;
  --secondary-color: #fceed5;
  --black-color: #000;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.header {
  background-color: var(--secondary-color);
}

.container {
  display: flex;
  padding: 30px 80px;
  justify-content: space-between;
}

.btn {
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 57px;
  padding: 14px 28px;
  font-size: 1.6rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.section-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.section-navigation .section-title .logo-img {
  width: 115px;
  height: 40px;
}

.section-navigation .nav .list-nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.section-navigation .nav .list-nav a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

.section-actions {
  display: flex;
  gap: 20px;
}

.section-actions .form-search {
  background-color: var(--white-color);
  border-radius: 30px;
  width: 280px;
}

.section-actions .form-search .form-input {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
  padding: 10px 15px;
}

.section-actions .form-search .search-icon {
  width: 20px;
  height: 20px;
}

.section-actions .form-search .search-input {
  outline: none;
  border: none;
  height: 20px;
}

.section-actions .btn-join-community {
}

.section-actions .dropdown-group {
  display: flex;
  gap: 7px;
  align-items: center;
}

.section-actions .dropdown-group .select-form {
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  font-size: 16px;
}
