/* Error: Undefined variable.
 *   ,
 * 2 |   background-color: $neutral-white-color;
 *   |                     ^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\modules\_buttons.scss 2:21  @import
 *   sass\modules\_index.scss 2:9     @forward
 *   sass\style.scss 2:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502    background-color: $neutral-white-color;\d\a   \2502                      ^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\modules\\_buttons.scss 2:21  @import\a   sass\\modules\\_index.scss 2:9     @forward\a   sass\\style.scss 2:1              root stylesheet";
}
