.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 8px;
  border-radius: 28px;

  background-color: $state-color;

  font-weight: $font-700;
  font-size: $text-xs;
  color: $neutral-white-color;
  line-height: 16px;
}
