.section-banner {
  position: relative;

  margin: 108px 0 25px 0;

  .banner-img {
    width: 100%;
    max-height: 600px;

    object-fit: cover;
  }

  .section-content {
    @include flex(flex, column, none, center);
    @include banner-section-content(absolute, 80px, 170px, 480px);

    .section-title {
      font-size: $text-4xl;
      font-weight: $font-800;
      line-height: 68px;

      color: $primary-color;
    }

    .section-subtitle {
      display: block;

      margin-top: 4px;

      font-size: $text-2xl;
      font-weight: $font-700;
      line-height: 60px;
    }

    .section-description {
      margin-top: 24px;

      font-size: $text-md;
      font-weight: $font-500;
      line-height: 24px;
      text-align: justify;
    }

    .btn-group {
      display: flex;

      margin-top: 34px;

      & .btn:first-child {
        margin-right: 20px;
      }

      .btn-icon {
        width: 24px;
        height: 24px;
      }

      .btn-text {
        margin-right: 8px;

        color: $primary-color;
        font-weight: $font-500;
      }
    }
  }
}
