.btn {
  padding: 14px 28px;
  border-radius: 57px;

  background-color: $neutral-white-color;
  
  font-size: $text-md;
  color: $black-color;
}

.btn-primary {
  background-color: $primary-color;

  color: $neutral-white-color;
}

.btn-outline {
  border: 1px solid $primary-color;

  background-color: inherit;

  color: $primary-color;
  
}
