@use '../base/variables' as *;

.card {
  display: block;

  padding: 10px 7px;
  border-radius: 10px;

  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  color: $neutral-color;

  &-img {
    .product-img {
      max-width: 100%;
      border-radius: 10px;

      object-fit: cover;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    padding: 10px;

    .card-title {
      font-size: $text-md;
      font-weight: $font-700;
      line-height: 24px;
    }

    .card-detail {
      display: flex;

      color: $neutral-color-60;
      font-size: $text-xs;
      line-height: 18px;

      .detail-key {
        font-weight: $font-500;
      }

      .detail-value {
        font-weight: $font-700;
      }

      .detail-icon {
        padding: 0px 5px;
      }
    }

    .card-price {
      font-size: $text-md;
      font-weight: $font-700;
      line-height: 20px;
    }
  }

  &-footer {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 10px;
    }

    margin-bottom: 7px;
    padding: 7px;
    border-radius: 10px;

    background-color: $secondary-color;

    .card-footer-title {
      font-weight: $font-700;
      font-size: $text-sm;
      color: $dark-blue-80;
      line-height: 20px;
    }
  }
}
