.container {
  display: flex;
  flex-direction: column;
}

.list-product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 10px;
}

.card {
  text-decoration: none;
}

.list-item {
  flex: 1 1 calc(25% - 20px);
  max-width: 25%;
  list-style-type: none;
  padding: 10px 7px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-img {
  object-fit: cover;
  width: 100%;
  max-height: 264px;
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px 10px;
  color: var(--neutral-color);
}

.card-title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
}

.card-detail {
  display: flex;
  font-size: 1.2rem;
  line-height: 18px;
}

.detail-key {
  font-weight: 500;
  color: var(--neutral-color-60);
}

.detail-value {
  font-weight: 700;
}

.detail-icon {
  padding: 0px 5px;
}

.card-price {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
}

.card-footer {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 7px;
}

.card-footer-title {
  color: var(--dark-blue-80);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
}

//
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &section-title {
    color: $primary-color;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    &section-subtitle {
      color: var(--black-color);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 24px;
    }
  }
}


.product {
  &-img {

  }
  &-body {
    
  }
}
