.section-product {
  .section-header {
    display: flex;
    justify-content: space-between;

    .section-title {
      font-size: $text-lg;
      font-weight: $font-700;
      color: $primary-color;
      line-height: 36px;

      .section-subtitle {
        display: block;

        font-size: $text-md;
        font-weight: $font-500;
        color: $black-color;
        line-height: 24px;
      }
    }

    .btn-outline {
      display: flex;
      align-items: center;

      .btn-text {
        margin-right: 8px;
      }
    }
  }
}
