@use '../base' as *;

.todo-list {
  width: 100%;

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-sm;

    &:hover {
      background-color: $secondary-color;
      border-radius: 10px;
    }

    margin-bottom: 10px;
    .item-label {
      font-size: $text-lg;
    }

    .done-item {
      text-decoration: line-through;
    }

    .btn {
      padding: 5px 10px;
      border: none;
      border-radius: 50%;
    }

    .btn-primary {
      background-color: $gray-color;
      color: $black-color;
      &:hover {
        background-color: $orange-color;
        color: $white-color;
      }
    }

    
  }
}
