@mixin flex(
  $display: flex,
  $direction: false,
  $align: false,
  $justify: false,
  $wrap: false,
  $gap: false
) {
  display: $display;
  @if $direction {
    flex-direction: $direction;
  }
  @if $align {
    align-items: $align;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $wrap {
    flex-wrap: $wrap;
  }
  @if $gap {
    gap: $gap;
  }
}

@mixin set-element-position($position, $top, $left, $maxWidth) {
  position: $position;
  top: $top;
  left: $left;

  max-width: $maxWidth;
}
