$primary-color: #003459;
$secondary-color: #fceed5;
$black-color: #000;
$white-color: #fff;
$neutral-color: #00171f;
$dark-blue-80: #002a48;
$state-color: #00a7e7;

$font-400: 400;
$font-500: 500;
$font-700: 700;
$font-800: 800;

$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 24px;
$text-xl: 36px;
$text-2xl: 46px;
$text-3xl: 52px;
$text-4xl: 60px;

$font-primary: "SVN-Gilroy", sans-serif;
