.section-banner-women-kiss-dog {
  .section-content {
    @include flex(flex, column, flex-end);
    @include banner-section-content(absolute, 40px, 692px, 400px);
    text-align: right;

    .btn-group {
      margin-top: 24px;
    }
  }
}

.section-banner-adoption {
  .section-content {
    @include banner-section-content(absolute, 30px, 85px, 480px);

    .section-title {
      .btn-icon {
        width: 42px;
        height: 38px;
      }
    }

    .btn-group {
      margin-top: 42px;
    }
  }
}
