.section-banner-women-kiss-dog {
  .section-content {
    align-items: flex-end;
    position: absolute;
    top: 40px;
    left: 692px;
    max-width: 400px;
    text-align: right;

    .btn-group {
      margin-top: 24px;
    }
  }
}

.section-banner-adoption {
  .section-content {
    position: absolute;
    top: 30px;
    left: 85px;
    max-width: 480px;

    .section-title {
      .icon {
        width: 42px;
        height: 38px;
      }
    }

    .btn-group {
      margin-top: 42px;
    }
  }
}
