.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: $secondary-color;
  box-shadow: $shadow-color-01;
  padding: 30px 0;
  .section-body {
    display: flex;
    justify-content: space-between;
  }

  .section-navigation {
    display: flex;
    align-items: center;
    margin-right: 36px;

    .section-title {
      margin-right: 24px;
    }

    .list-nav {
      display: flex;

      .list-item {
        padding: 0 24px;
        &:last-child {
          padding-right: 0;
        }
      }

      .list-item-link {
        color: $primary-color;
        font-weight: $font-700;
      }
    }
  }

  .section-actions {
    display: flex;

    .form-search {
      margin-right: 14px;

      background-color: $white-color;
      border-radius: 30px;

      .form-input {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 12px 16px;

        .search-icon {
          width: 20px;
          height: 20px;
          margin-right: 12px;
        }
      }
    }

    .btn-join-community {
      margin-right: 15px;
    }

    .dropdown-group {
      display: flex;
      align-items: center;

      .flag-icon {
        width: 16px;
        height: 16px;
      }

      .select-form {
        border: 0;

        background-color: $secondary-color;

        font-size: $text-md;
      }
    }
  }
}
