.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 20px;
  background-color: var(--state-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 1rem;
  line-height: 16px;
  border-radius: 28px;
  padding: 8px;
}

